@import '~styles/globals';

$board-padding: 3 * $unit;
$cell-size: 10 * $unit;
$game-background: $color-white !default;
$num-cells: 4;

.container {
  background: $game-background;
  display: flex;
  flex-wrap: wrap;
  height: $num-cells * $cell-size;
  margin: $board-padding auto;
  padding: 0 $board-padding;
  width: $num-cells * $cell-size;
}
