@import '~styles/globals';
@import 'config';

.header {
  background-color: $header-background-color;
  color: $header-color;
  display: flex;
  height: 10 * $unit;
  padding: 2 * $unit;
}

.menu,
.placeholder,
.title {
  flex: 1;
}

.menu {
  color: $header-menu-color;
  text-align: left;
}
