@import '~styles/globals';

.dialog {
  .body {
    h6 {
      padding-bottom: .5rem;
    }
  }

  &.lost {
    .body {
      h6 {
        border-bottom: 2px solid $underline-dark;
      }
    }
  }

  &.won {
    .body {
      h6 {
        border-bottom: 2px solid $underline-bright;
      }
    }
  }
}
